:root{
    --bg-body            : #272822;
    --color-head         : #dddddd;
    --color-head-active  : #f39c12;
    --color-label        : var(--color-head);
    --color-border-label : #bdc3c7;
    --color-item         : #ffffff;
    --color-alert        : #af0035;
}  