@import 'root';
@import 'base';
@import 'im-flex-generate';

body{ 
    background: var(--bg-body); 
}

@keyframes flexicale{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.5); }
    100%{ transform: scale(1); }
}
@keyframes flexibon{
    0%{ color: var(--color-head); }
    50%{  color: var(--color-head-active); }
    100%{  color: var(--color-head); }
}
@keyframes alert {
    0% {
        color: #19dcea;
    }
    25% {
        color: #b22cff;
    }
    50% {
        color: #ea2222;
    }
    75% {
        color: #f5be10;
    }
    100% {
        color: #3bd80d;
    }
}
h1{  
    font-size: 2rem; 
    color: var(--color-head);
    display: flex; align-items: center;
    >span{
        display: block;
        padding: 1px;
        span{ 
            display: block;
            padding: 0;
        }
    } 
    @for $h from 1 through 26{
        >span:nth-child(#{$h}){ animation: flexicale 1s #{$h}00ms ease-in-out both;
            @for $g from 1 through 26{  
                span:nth-child(#{$g}){ animation: flexibon 1.75s #{$h}00ms ease-in-out infinite; }
            }
        }
    }
}
h2{ 
    font-size: 1.25rem; color: var(--color-head); 
    span{ 
        font-size: .75rem;
        font-weight: normal;
        &.alert{ animation: alert 8s linear infinite alternate both; }
    }
}
h3{ 
    font-size: 1rem; color: var(--color-head); 
    padding-bottom: 10px;
}
ul{
    li{ 
        font-size: 1rem; 
        color: var(--color-head); 
        padding: 5px 0; 
    } 
} 

.flex-container,
.flex-items,
.flex-direction,
.flex-wrap,
.align-items,
.justify-content,
.align-content,
.align-self,
.flex-grow,
.flex-shrink,
.flex,
.order{
    padding: 20px 10px; 
}
input[type="radio"],input[type="checkbox"]{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden; //böyle ölmez bomba att
    visibility: hidden;
}
input[type="number"]{
    padding: 5px; height: 30px; width: 100px; 
}
.flex-content{ padding: 20px 0; 
    .label-set{
        display: flex;
        gap: 0 .5rem;
        padding: 0 0 20px 0;
        .radio-label{ 
            font-size: .875rem;
            padding: .5rem; 
            display: block;
            transition: .4s;
            cursor: pointer;
            color: var(--color-label);  
            border: 1px solid var(--color-border-label);
            &:hover{
                color: var(--color-head-active); 
                border-color: var(--color-head-active);
            }
        }
        .label-group{
            display: flex;
            flex-wrap: wrap;
            gap: .125rem;
            .radio-label{ 
                flex: 0 0 calc(50% - .25rem); 
            }
        }
    }
    .flex-items{ 
        border: 1px solid #555;
        padding: 20px;
        display: flex;
        width: 100%;
        .flex-item{
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                display: block;
                font-size: 2rem;
                font-weight: bold;
                color: var(--color-item);
            }
        }
    }
}

.flex-direction{
    .flex-content{ 
        input{
            @for $i from 1 through 5{
                &.flex-direction-#{$i}{
                    &:checked~.label-set{
                        label:nth-child(#{$i}){
                            color: var(--color-head-active);
                            border-color: var(--color-head-active);
                        }
                    }
                }
            }
            &#flex-direction-row{
                &:checked~.flex-items{
                    flex-direction: row;
                }
            }
            &#flex-direction-row-reverse{
                &:checked~.flex-items{
                    flex-direction: row-reverse;
                }
            }
            &#flex-direction-column{
                &:checked~.flex-items{
                    flex-direction: column;
                } 
            }
            &#flex-direction-column-reverse{
                &:checked~.flex-items{
                    flex-direction: column-reverse;
                }
            }
        }
    }
}//flex-direction

.flex-wrap{
    .flex-content{
        input{
            @for $i from 1 through 4{
                &.flex-wrap-#{$i}{
                    &:checked~.label-set{
                        label:nth-child(#{$i}){
                            color: var(--color-head-active);
                            border-color: var(--color-head-active);
                        }
                    }
                }
            }
            &#flex-wrap-nowrap{
                &:checked~.flex-items{
                    flex-wrap: nowrap;
                }
            }
            &#flex-wrap-wrap{
                &:checked~.flex-items{
                    flex-wrap: wrap;
                }
            }
            &#flex-wrap-wrap-reverse{
                &:checked~.flex-items{
                    flex-wrap: wrap-reverse;
                }
            }
        }
        .flex-items{ width: 50%; }
    }
}//flex-wrap

.align-items{
    .flex-content{
        input{
            @for $i from 1 through 6{
                &.flex-align-items-#{$i}{
                    &:checked~.label-set{
                        label:nth-child(#{$i}){
                            color: var(--color-head-active);
                            border-color: var(--color-head-active);
                        }
                    }
                }
            }
            &#flex-align-items-flex-start{
                &:checked~.flex-items{
                    align-items: flex-start;
                }
            }
            &#flex-align-items-flex-end{
                &:checked~.flex-items{
                    align-items: flex-end;
                } 
            }
            &#flex-align-items-center{
                &:checked~.flex-items{
                    align-items: center;
                }
            }
            &#flex-align-items-baseline{
                &:checked~.flex-items{
                    align-items: baseline;
                }
            }
            &#flex-align-items-stretch{
                &:checked~.flex-items{
                    align-items: stretch;
                }
            }
        }
        .flex-items{ height: 300px; 
            .flex-item{ height: auto; 
                &:nth-child(1){
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
                &:nth-child(2){
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }
                &:nth-child(3){
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                    span{ font-size: 5rem; }
                }
                &:nth-child(4){
                    padding-top: 4rem;
                    padding-bottom: 4rem;
                }
                &:nth-child(5){
                    padding-top: 5rem;
                    padding-bottom: 5rem;
                }
            }
        }
    }
}//align-items
 
.justify-content{
    .flex-content{
        input{
            @for $i from 1 through 6{ 
                &.flex-justify-content-#{$i}{
                    &:checked~.label-set{
                        label:nth-child(#{$i}){
                            color: var(--color-head-active);
                            border-color: var(--color-head-active);
                        }
                    }
                }
            }
            &#flex-justify-content-flex-start{
                &:checked~.flex-items{
                    justify-content: flex-start;
                }
            }
            &#flex-justify-content-flex-end{
                &:checked~.flex-items{
                    justify-content: flex-end;
                }
            }
            &#flex-justify-content-center{
                &:checked~.flex-items{
                    justify-content: center;
                }
            }
            &#flex-justify-content-space-between{
                &:checked~.flex-items{
                    justify-content: space-between;
                }
            }
            &#flex-justify-content-space-around{
                &:checked~.flex-items{
                    justify-content: space-around;
                }
            }
        }
        .flex-items{ 
            .flex-item{ 
                width: 50px;
            }
        }
    }
}//justify-content

.align-content{
    .flex-content{
        input{
            @for $i from 1 through 7{
                &.flex-align-content-#{$i}{
                    &:checked~.label-set{
                        label:nth-child(#{$i}){
                            color: var(--color-head-active);
                            border-color: var(--color-head-active);
                        }
                    }
                }
            }
            &#flex-align-content-flex-start{
                &:checked~.flex-items{
                    align-content: flex-start;
                }
            }
            &#flex-align-content-flex-end{
                &:checked~.flex-items{
                    align-content: flex-end;
                }
            }
            &#flex-align-content-center{
                &:checked~.flex-items{
                    align-content: center;
                }
            }
            &#flex-align-content-space-between{
                &:checked~.flex-items{
                    align-content: space-between;
                }
            }
            &#flex-align-content-space-around{
                &:checked~.flex-items{
                    align-content: space-around;
                }
            }
            &#flex-align-content-stretch{
                &:checked~.flex-items{
                    align-content: stretch;
                }
            }
        } 
        .flex-items{ height: 600px; flex-wrap: wrap;
            .flex-item{ 
                height: auto; 
            }
        }
    }
}//align-content

.align-self{
    .flex-content{
        input{
            @for $i from 1 through 6{
                &.flex-align-self-#{$i}{
                    &:checked~.label-set{
                        label:nth-child(#{$i}){
                            color: var(--color-head-active);
                            border-color: var(--color-head-active);
                        }
                    }
                }
            }
            &#flex-align-self-auto{
                &:checked~.flex-items{
                    .flex-item:nth-child(3){
                        align-self: auto;  
                    }
                }
            }
            &#flex-align-self-flex-start{
                &:checked~.flex-items{
                    .flex-item:nth-child(3){
                        align-self: flex-start;
                    }
                }
            }
            &#flex-align-self-flex-end{ 
                &:checked~.flex-items{
                    .flex-item:nth-child(3){
                        align-self: flex-end;
                    }
                }
            }
            &#flex-align-self-center{
                &:checked~.flex-items{
                    .flex-item:nth-child(3){
                        align-content: center;
                    }
                }
            }
            &#flex-align-self-baseline{
                &:checked~.flex-items{
                    .flex-item:nth-child(3){
                        align-self: baseline;
                    }
                }
            }
            &#flex-align-self-stretch{
                &:checked~.flex-items{
                    .flex-item:nth-child(3){
                        align-self: stretch;
                    }
                }
            }
        }
        .flex-items{ height: 300px; align-items: center;
            .flex-item{ height: auto; 
                &:nth-child(3){
                    padding-top: 2rem;
                    padding-bottom: 2rem; 
                    span{ font-size: 5rem; } 
                }
            } 
        }
    }
}//align-self 

.flex-grow{
    .flex-content{
        input{
            @for $i from 1 through 6{
                &.flex-grow-#{$i}{
                    &:checked~.label-set{
                        label:nth-child(#{$i}){
                            color: var(--color-head-active);
                            border-color: var(--color-head-active);
                        }
                    }
                }
            }
            &#flex-grow-1{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-grow: 1 !important;
                    }
                }
            }
            &#flex-grow-2{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-grow: 2;
                    }
                }
            }
            &#flex-grow-3{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-grow: 3;
                    }
                }
            }
            &#flex-grow-4{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-grow: 4;
                    }
                }
            }
            &#flex-grow-5{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-grow: 5;
                    }
                }
            }
        }
        .flex-items{
            align-items: center;
            .flex-item{
                width: 50px; 
                text-align: center;
                span{
                    span{ font-size: .75rem;}
                }
                &:nth-child(2){
                    flex-grow: 1;
                }
                &:nth-child(3){
                    flex-grow: 2;
                }
                &:nth-child(4){
                    flex-grow: 3;
                }
                &:nth-child(5){
                    flex-grow: 4;
                }
            }
        }
    }
}//flex-grow

.flex-shrink{
    .flex-content{
        input{
            @for $i from 1 through 6{
                &.flex-shrink-#{$i}{
                    &:checked~.label-set{
                        label:nth-child(#{$i}){
                            color: var(--color-head-active);
                            border-color: var(--color-head-active);
                        }
                    }
                }
            }
            &#flex-shrink-1{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-shrink: 1;
                    }
                }
            }
            &#flex-shrink-2{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-shrink: 2;
                    }
                }
            }
            &#flex-shrink-3{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-shrink: 3;
                    }
                }
            }
            &#flex-shrink-4{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-shrink: 4;
                    }
                }
            }
            &#flex-shrink-5{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex-shrink: 5;
                    }
                }
            }
        }
        .flex-items{
            align-items: center;
            .flex-item{
                text-align: center;
                width: 25%;
                span{
                    span{ font-size: .75rem;}
                }
                &:nth-child(2){
                    flex-shrink: 2;
                }
                &:nth-child(3){
                    flex-shrink: 3;
                }
                &:nth-child(4){
                    flex-shrink: 4;
                }
                &:nth-child(5){
                    flex-shrink: 5;
                }
            }
        }
    }
}//flex-shrink

.flex{
    .flex-content{
        input{
            @for $i from 1 through 13{
                &.flex-#{$i}{
                    &:checked~.label-set{
                        .label-group{
                            label.label-basis-#{$i}{
                                color: var(--color-head-active);
                                border-color: var(--color-head-active);
                            }
                        } 
                    }
                }
            }
            &#flex-1{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex: 0 0 50%;
                    }
                }
            }
            &#flex-2{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex: 0 0 25%;
                    }
                }
            }
            &#flex-3{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex: 5 0 0%;
                    }
                }
            }
            &#flex-4{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex: 2 0 0%;
                    }
                }
            }
            &#flex-5{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex: 0 3 0%;
                    }
                }
            }
            &#flex-6{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        flex: 0 7 0%;
                    }
                }
            }
            &#flex-7{
                &:checked~.flex-items{
                    .flex-item:nth-child(2){
                        flex: 0 0 50%;
                    }
                }
            }
            &#flex-8{
                &:checked~.flex-items{
                    .flex-item:nth-child(2){
                        flex: 0 0 75%;
                    }
                }
            }
            &#flex-9{
                &:checked~.flex-items{
                    .flex-item:nth-child(2){
                        flex: 9 0 0%;
                    }
                }
            }
            &#flex-10{
                &:checked~.flex-items{
                    .flex-item:nth-child(2){
                        flex: 1 0 0%;
                    }
                }
            }
            &#flex-11{
                &:checked~.flex-items{
                    .flex-item:nth-child(2){
                        flex: 0 6 0%;
                    }
                }
            }
            &#flex-12{
                &:checked~.flex-items{
                    .flex-item:nth-child(2){
                        flex: 0 4 0%; 
                    }
                }
            }
        }
        .label-set{
            .label-group{
                .radio-label{ font-size: .75rem; }
            }
        }
        .flex-items{
            align-items: center;
            .flex-item{
                text-align: center;
                width: 25%;
                span{
                    span{ font-size: .75rem;}
                }
                &:nth-child(2){
                    flex-shrink: 2;
                }
                &:nth-child(3){
                    flex-shrink: 3;
                }
                &:nth-child(4){
                    flex-shrink: 4;
                }
                &:nth-child(5){
                    flex-shrink: 5;
                }
            }
        }
    }
}//flex-basis

.order{
    .flex-content{
        input{
            @for $i from 1 through 6{
                &.flex-shrink-#{$i}{
                    &:checked~.label-set{
                        label:nth-child(#{$i}){
                            color: var(--color-head-active);
                            border-color: var(--color-head-active);
                        }
                    }
                }
            }
            &#order-1{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        order: 2;
                    }
                }
            }
            &#order-2{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        order: 3;
                    }
                }
            }
            &#order-3{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        order: 4;
                    }
                }
            }
            &#order-4{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        order: 5;
                    }
                }
            }
            &#order-5{
                &:checked~.flex-items{
                    .flex-item:nth-child(1){
                        order: 6;
                    }
                }
            }
        }
        .flex-items{
            align-items: center;
            .flex-item{
                text-align: center;
                width: 20%;
                span{
                    span{ font-size: .75rem;}
                }
                &:nth-child(2){
                    order: 2;
                }
                &:nth-child(3){
                    order: 3;
                }
                &:nth-child(4){
                    order: 4;
                }
                &:nth-child(5){
                    order: 5;
                }
            }
        }
    }
}//flex-shrink
